@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

body {
  background: #f3fafa;
  font-family: 'Poppins', sans-serif;
}
.pokemon {
  background-blend-mode: color;
  background-position: bottom;
}
.rock {
   background-image: url('./images/pokeball-png-45334.png'), linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.modal-rock .modal-content:before {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.ghost,
.dragon {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.modal-ghost .modal-content:before,
.modal-dragon .modal-content:before {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.electric,
.psychic {
  background-image: url('./images/pokeball-png-45334.png'), radial-gradient(circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
}
.modal-electric .modal-content:before,
.modal-.psychic .modal-content:before {
  background-image: radial-gradient(circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
}
.bug {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.modal-bug .modal-content:before {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.poison {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
.modal-poison .modal-content:before {
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
.normal {
  background-color: #FBAB7E;
  background-image:  url('./images/pokeball-png-45334.png'), linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.modal-normal .modal-content:before {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.fairy {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.modal-fairy .modal-content:before {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.fire {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.modal-fire .modal-content:before {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.grass {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.modal-grass .modal-content:before {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.water,
.ice {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.modal-water .modal-content:before,
.modal-.ice .modal-content:before {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.ground {
  background-image: url('./images/pokeball-png-45334.png'), linear-gradient(120deg, #bb6045 0%, #815324 100%);
}
.modal-ground .modal-content:before {
  background-image: linear-gradient(120deg, #bb6045 0%, #815324 100%);
}
.fighting {
  background-color: #FBAB7E;
  background-image:  url('./images/pokeball-png-45334.png'), linear-gradient( 109.6deg,  rgba(231,76,60,1) 11.2%, rgba(203,67,53,1) 91.1% );
}
.modal-fighting .modal-content:before {
  background-image: linear-gradient( 109.6deg,  rgba(231,76,60,1) 11.2%, rgba(203,67,53,1) 91.1% );
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 900px;
  }
}
.modal-content {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
}
.modal-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0% -80%;
  -ms-transform-origin: 0% -80%;
  transform-origin: 0% -80%;
  -webkit-transform: skew(-32deg);
  -ms-transform: skew(-32deg);
  transform: skew(-32deg);
}
